Repository codegouvfr/sill: changes, and which lefthook commands are due for each by the changed paths.
All: sync-helm-version, bump-chart-version

sync-helm-version:
  run: yarn sync-helm-charts
  stage_fixed: true

bump-chart-version:
  run: yarn bump-chart-version
  stage_fixed: true

feat: add keycloak docker-compose example
  deployment-examples/keycloak-docker-compose/.env.sample
  deployment-examples/keycloak-docker-compose/README.md
  deployment-examples/keycloak-docker-compose/catalogi-realm.json
  deployment-examples/keycloak-docker-compose/docker-compose.yml
  deployment-examples/keycloak-docker-compose/nginx/default.conf
  docs/3-setup-a-keycloak
Due: none

fix: improve sample for docker-compose example
  deployment-examples/docker-compose/.env.sample
Due: none

feat: add bump helm chart version script
  helm-charts/catalogi/Chart.yaml
  lefthook.yml
  scripts/bump-helm-chart-version.js
  scripts/helm-version-utils.js
  scripts/sync-helm-app-version.js
Due: sync-helm-version

feat: add bump helm chart version script
  scripts/bump-helm-chart-version.js
  scripts/helm-version-utils.js
  scripts/sync-helm-app-version.js
Due: none

wip setting up helm charts
  helm-charts/catalogi/Chart.yaml
  helm-charts/catalogi/values.yaml
Due: sync-helm-version

feat: create script to sync helm charts with root package.json version
  helm-charts/catalogi/Chart.yaml
  lefthook.yml
  package.json
  scripts/sync-helm-app-version.js
Due: sync-helm-version

fix: acces to users tab works even when there is no logo in software
  web/src/core/usecases/softwareUserAndReferent/selectors.ts
Due: none

build: bump version
  package.json
Due: sync-helm-version

feat: claude proposition for helm charts
  deployment-examples/helm/README.md
  deployment-examples/helm/values-basic.yaml
  deployment-examples/helm/values-development.yaml
  deployment-examples/helm/values-production.yaml
  docs/5-deploying-with-kubernetes.md
  helm-charts/catalogi/Chart.yaml
  helm-charts/catalogi/templates/_helpers.tpl
  helm-charts/catalogi/templates/adminer-deployment.yaml
  helm-charts/catalogi/templates/adminer-service.yaml
  helm-charts/catalogi/templates/api-deployment.yaml
  helm-charts/catalogi/templates/api-service.yaml
  helm-charts/catalogi/templates/configmap.yaml
  helm-charts/catalogi/templates/ingress.yaml
  helm-charts/catalogi/templates/secret.yaml
  helm-charts/catalogi/templates/serviceaccount.yaml
  helm-charts/catalogi/templates/update-cronjob.yaml
  helm-charts/catalogi/templates/web-deployment.yaml
  helm-charts/catalogi/templates/web-service.yaml
  helm-charts/catalogi/values.yaml
  lefthook.yml
  package.json
  scripts/test-helm-charts.sh
Due: sync-helm-version, bump-chart-version

feat: show case kube and helm config
  README.md
  deployment-examples/helm/ingress-api.yaml
  deployment-examples/helm/ingress-web.yaml
  deployment-examples/helm/values-local-dev.yaml
  deployment-examples/helm/values-temp.yaml
  docs/5-deploying-with-kubernetes.md
  helm-charts/catalogi/Chart.lock
  helm-charts/catalogi/Chart.yaml
  helm-charts/catalogi/charts/postgresql-16.7.12.tgz
  helm-charts/catalogi/templates/_helpers.tpl
  helm-charts/catalogi/templates/api-deployment.yaml
  helm-charts/catalogi/templates/configmap.yaml
  helm-charts/catalogi/templates/ingress.yaml
  helm-charts/catalogi/templates/update-cronjob.yaml
  helm-charts/catalogi/templates/web-configmap.yaml
  helm-charts/catalogi/templates/web-deployment.yaml
  helm-charts/catalogi/values.yaml
  lefthook.yml
  scripts/bump-helm-chart-version.js
  web/index.html
  web/nginx.conf
Due: sync-helm-version, bump-chart-version

feat: setting up seed script
  api/package.json
  api/scripts/seed.ts
  docs/2-getting-started.md
  lefthook.yml
Due: none

fix: software logo url works. fixes #115
  .github/workflows/ci.yaml
  api/src/core/adapters/dbApi/kysely/createPgSoftwareRepository.ts
  api/src/core/adapters/dbApi/kysely/pgDbApi.integration.test.ts
  api/src/tools/test.helpers.ts
Due: none

build: bump version
  helm-charts/catalogi/Chart.yaml
Due: sync-helm-version

fix: automatically select 'not applacable' when no values are selected for 'respesctRGAA'
  web/src/ui/pages/softwareForm/Step3.tsx
Due: none

feat(api): make import use case support multi source refs: €359
  api/src/core/adapters/dbApi/kysely/createPgSoftwareExternalDataRepository.ts
  api/src/core/importTool.ts
  api/src/core/ports/DbApiV2.ts
  api/src/core/usecases/importFromSource.ts
  api/src/rpc/import.ts
Due: none

fix(api): update usecase refreshExternalData
  api/src/core/adapters/dbApi/kysely/createPgSoftwareExternalDataRepository.ts
  api/src/core/ports/DbApiV2.ts
  api/src/core/usecases/refreshExternalData.ts
Due: none

fix(api): remove null from type source refs: #359
  api/scripts/load-git-repo-in-pg.ts
  api/src/core/adapters/dbApi/kysely/createPgSourceRepository.ts
  api/src/core/adapters/dbApi/kysely/pgDbApi.integration.test.ts
  api/src/core/adapters/fetchExternalData.test.ts
  api/src/core/adapters/hal/getHalSoftware.test.ts
  api/src/core/usecases/readWriteSillData/types.ts
  api/src/rpc/routes.e2e.test.ts
Due: none

feat(api): move use case from repo to usercase files refs: #359
  api/src/core/adapters/dbApi/kysely/createPgDbApi.ts
  api/src/core/adapters/dbApi/kysely/createPgSimilarSoftware.ts
  api/src/core/adapters/dbApi/kysely/createPgSoftwareExternalDataRepository.ts
  api/src/core/adapters/dbApi/kysely/createPgSoftwareRepository.ts
  api/src/core/adapters/dbApi/kysely/kysely.database.ts
  api/src/core/adapters/dbApi/kysely/kysely.utils.ts
  api/src/core/adapters/dbApi/kysely/migrations/1744719952208-update_external_software.ts
  api/src/core/adapters/dbApi/kysely/pgDbApi.integration.test.ts
  api/src/core/adapters/fetchExternalData.test.ts
  api/src/core/ports/DbApiV2.ts
  api/src/core/usecases/createSoftware.ts
  api/src/core/usecases/importFromSource.ts
  api/src/core/usecases/updateSoftware.ts
  api/src/rpc/router.ts
Due: none

fix(api-uc-umport): make it legacy compatible with softwares
  api/src/core/adapters/dbApi/kysely/createPgSoftwareRepository.ts
  api/src/core/ports/DbApiV2.ts
  api/src/core/usecases/createSoftware.ts
  api/src/core/usecases/updateSoftware.ts
Due: none

feat(api-uc-update): improve update and import
  api/src/core/adapters/dbApi/kysely/createPgSoftwareExternalDataRepository.ts
  api/src/core/adapters/dbApi/kysely/createPgSoftwareRepository.ts
  api/src/core/adapters/fetchExternalData.test.ts
  api/src/core/bootstrap.ts
  api/src/core/ports/DbApiV2.ts
  api/src/core/ports/GetSoftwareExternalData.ts
  api/src/core/usecases/createSoftware.ts
  api/src/core/usecases/importFromSource.ts
  api/src/core/usecases/index.ts
  api/src/core/usecases/readWriteSillData/types.ts
  api/src/core/usecases/refreshExternalData.ts
  api/src/core/usecases/updateSoftware.ts
  api/src/rpc/router.ts
  api/src/rpc/update.ts
Due: none

fix: remove unused loaded variables
  api/src/core/bootstrap.ts
  api/src/rpc/router.ts
Due: none

feat(api): create usecase refreshExternalData refs: #359
  api/src/core/adapters/dbApi/kysely/createPgSoftwareExternalDataRepository.ts
  api/src/core/adapters/dbApi/kysely/createPgSourceRepository.ts
  api/src/core/adapters/dbApi/kysely/kysely.database.ts
  api/src/core/ports/DbApiV2.ts
  api/src/core/updateTools.ts
  api/src/core/usecases/refreshExternalData.ts
  api/src/core/utils.ts
  api/src/rpc/update.ts
Due: none

fix(update): fix time and improve logs
  api/src/core/adapters/dbApi/kysely/createPgSoftwareExternalDataRepository.ts
  api/src/core/ports/DbApiV2.ts
  api/src/core/usecases/refreshExternalData.ts
  api/src/rpc/update.ts
Due: none

chore: upgrade kysely
  api/package.json
  yarn.lock
Due: none

feat(api-uc-imp-upd): fix tests and improve process refs: #359
  api/src/core/adapters/dbApi/kysely/createPgSoftwareExternalDataRepository.ts
  api/src/core/adapters/dbApi/kysely/createPgSoftwareRepository.ts
  api/src/core/adapters/dbApi/kysely/kysely.database.ts
  api/src/core/adapters/dbApi/kysely/kysely.utils.ts
  api/src/core/adapters/dbApi/kysely/migrations/1744719952208-update_external_software.ts
  api/src/core/adapters/dbApi/kysely/pgDbApi.integration.test.ts
  api/src/core/adapters/fetchExternalData.test.ts
  api/src/core/adapters/fetchExternalData.ts
  api/src/core/ports/DbApiV2.ts
  api/src/core/usecases/createSoftware.ts
  api/src/core/usecases/importFromSource.ts
  api/src/core/usecases/refreshExternalData.test.ts
  api/src/core/usecases/refreshExternalData.ts
Due: none

feat(api): able to choose time between refresh software refs: #212
  api/src/env.ts
  api/src/rpc/update.ts
Due: none

fix(api): for multi source start and update refs: #361
  api/src/core/adapters/dbApi/kysely/createPgSourceRepository.ts
  api/src/core/adapters/resolveAdapter.ts
  api/src/core/bootstrap.ts
  api/src/core/ports/DbApiV2.ts
  api/src/core/usecases/getSoftwareFormAutoFillDataFromExternalAndOtherSources.ts
  api/src/core/usecases/readWriteSillData/types.ts
  api/src/core/usecases/refreshExternalData.ts
  api/src/rpc/createTestCaller.ts
  api/src/rpc/router.ts
  api/src/rpc/start.ts
Due: none

feat(api): support import for multisource refs: #359
  api/src/core/adapters/dbApi/kysely/createPgSimilarSoftware.ts
  api/src/core/adapters/dbApi/kysely/createPgSoftwareExternalDataRepository.ts
  api/src/core/adapters/dbApi/kysely/createPgSourceRepository.ts
  api/src/core/importTool.ts
  api/src/core/ports/DbApiV2.ts
  api/src/core/usecases/createSoftware.ts
  api/src/core/usecases/importFromSource.ts
  api/src/entrypoints/import.ts
  api/src/env.ts
  api/src/rpc/import.ts
Due: none

feat(api): improve after review, test names, split into function for mutable refs: #359
  api/src/core/adapters/dbApi/kysely/createPgSoftwareExternalDataRepository.ts
  api/src/core/importTool.ts
  api/src/core/ports/DbApiV2.ts
  api/src/core/usecases/createSoftware.test.ts
  api/src/core/usecases/createSoftware.ts
  api/src/core/usecases/importFromSource.ts
  api/src/core/usecases/refreshExternalData.ts
Due: none

test(api): fix test update
  api/src/core/adapters/dbApi/kysely/createPgSoftwareExternalDataRepository.ts
  api/src/core/usecases/refreshExternalData.test.ts
Due: none

fix(api): fix import use case refs: #359
  api/src/core/importTool.ts
  api/src/core/usecases/importFromSource.ts
Due: none

test(api): fix test update
  api/src/core/usecases/refreshExternalData.test.ts
Due: none

Path conditions:
  sync-helm-version: any of: {package.json,helm-charts/catalogi/Chart.yaml}
  bump-chart-version: any of: helm-charts/catalogi/**/*, but not: helm-charts/catalogi/Chart.yaml
